let mapleader=" "

set showmode
set showcmd
set ideastatusicon='gray'
let g:EasyMotion_override_acejump = 0
set ideavimsupport=

" Disable macros
nnoremap Q <nop>
map q <Nop>

" repmap ; to ;
nnoremap ; :
" Plugins
set commentary
set easymotion
set NERDTree
set multiple-cursors

set ignorecase
set smartcase

" Reload
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" Copy to system clipboard as well
set clipboard+=unnamed
set clipboard+=ideaput

""" Distraction Free Mode
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>

" Use Idea to join lines smartly
set ideajoin
set idearefactormode=keep

" Use Idea bookmarks
set ideamarks

" highlight search matches
:set hlsearch

" These create newlines like o and O but stay in normal mode
nmap zj o<Esc>k
nmap zk O<Esc>j

" key bindings for quickly moving between windows
" h left, l right, k up, j down
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" Navigation
nnoremap <Leader>en :action EditSourceInNewWindow<CR>
nnoremap <Leader>n :action NextWindow<CR>
nnoremap <TAB> :action PreviousTab<CR>
nnoremap <s-TAB> :action NextTab<CR>

" Closing tabs
nnoremap q :action CloseContent<cr>
nnoremap Q :action ReopenClosedTab<cr>

" Searching and Source Code Navigation
set incsearch

nnoremap <leader>u :action FindUsages<CR>

nnoremap <leader>s :action GotoRelated<CR>
nnoremap <leader>h :action CallHierarchy<CR>
nnoremap <leader>b :action ShowNavBar<CR>


nnoremap <leader>o :action GotoClass<CR>
nnoremap <leader>i :action GotoImplementation<CR>
nnoremap <leader>d :action GotoDeclaration<CR>
nnoremap <leader>p :action GotoSuperMethod<CR>
nnoremap <leader>t :action GotoTest<CR>
nnoremap <leader>f :action GotoFile<CR>
nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>s :action GotoSymbol<CR>
nnoremap <leader>j :action SearchEverywhere<cr>
nnoremap <leader>r :action RecentChangedFiles<cr>
nnoremap <leader>l :action RecentLocations<CR>
nnoremap <leader>g :action FindInPath<cr>
nnoremap <leader><tab> :action Switcher<cr>
nnoremap <leader>e :action GotoNextError<CR>
nnoremap <leader>E :action GotoPreviousError<CR>


nnoremap g[ :action Back<cr>
nnoremap g] :action Forward<cr>


" nmap <leader>/  :action CommentByLineComment<cr>

" Split
nnoremap <leader>\ :action SplitVertically<CR>
nnoremap <leader>- :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

" Terminal
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

set laststatus=2
" nnoremap <esc> :noh<CR>

" Nerdtree
nnoremap <leader>n :NERDTreeToggle<cr>
nnoremap <leader>e :NERDTreeFocus<cr>

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
nmap <C-x> <Plug>SkipOccurrence
xmap <C-x> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence
" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
nmap <S-C-n> <Plug>AllWholeOccurrences
xmap <S-C-n> <Plug>AllWholeOccurrences
nmap g<S-C-n> <Plug>AllOccurrences
xmap g<S-C-n> <Plug>AllOccurrences

" Editing source code
vnoremap < <gv
vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

" Redo
nnoremap U <C-R>


" Code refactoring
" nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <leader>re :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>=  :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>

" Tool windows
nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>

" Running and Debugging
nnoremap ,r :action ContextRun<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,e :action Run<CR>
nnoremap ,f :action RerunFailedTests<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>

noremap <A-left> :vertical resize +5<cr>
noremap <A-down> :resize -5<cr>
noremap <A-up> :resize +5<cr>
noremap <A-right> :vertical resize -5<cr>
